<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/editor.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script type='text/javascript' src='static/js/ajax_queries.js'></script>
  <script type='text/javascript'>var curLang = "{{ lang }}";</script>
{% if lang %}
  <title>Пополнить словарь: {{ languages[lang].name_ru }}</title>
{% else %}
  <title>Выберите язык</title>
{% endif %}
</head>
<body>
<div class="container main">
{% if lang %}
	<h2>Пополнение грамматического словаря ({{ languages[lang].name_ru }})</h2>
	<p class="lead">Заполните поля и нажмите &laquo;Добавить&raquo; или Enter.</p>
	<div class="row">
		<div class="col-sm-8">
			<p>Если у Вас есть список неразобранных словоформ (по одной на строчку), можно вставить его в поле справа и нажать стрелку вправо; слова будут подставляться в поле &laquo;лемма&raquo; по очереди. Если слово из списка нужно пропустить, нажмите стрелку вправо.</p>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<div class="col-sm-6">
					<button id="show_manual" type="button" class="btn btn-info btn-lg">Инструкция</button>
				</div>
			</div>
			<div class="form-group row row_annotator">
				<label for="input_annotator" class="col-form-label col-sm-5" style="text-align: right;"><abbr title="Введите адрес своей электронной почты, если Вам нужен учёт количества внесённых лексем.">Email разметчика</abbr>:</label>
				<div class="col-sm-7"><input type="text" class="form-control" name="annotator" id="input_annotator" form="lex_form"></div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" id="main_row">
		<div class="col-sm-8">
			<form id="lex_form">
			<div class="form-group row">
				<label for="input_lemma" class="col-form-label col-sm-4 col-md-3" style="text-align: right;"><abbr title="Начальная форма слова. Для продуктивных дериваций используйте лемму без словообразовательных суффиксов, если она существует.">Лемма</abbr>:</label>
				<div class="col-sm-6"><input type="text" class="form-control form-control-lemma" name="lemma" id="input_lemma"></div>
				<div class="col-sm-2">
					<span id="lexemes_added" class="badge badge-success" title="Количество добавленных лексем">0</span>
				</div>
			</div>
			<div class="form-group row">
				<label for="input_lexref" class="col-form-label col-sm-4 col-md-3" style="text-align: right;"><abbr title="Если лемма выше является нестандартным вариантом какой-либо стандартной леммы, последнюю можно записать здесь. В противном случае оставьте поле пустым.">(Стандартная форма)</abbr>:</label>
				<div class="col-sm-6"><input type="text" class="form-control form-control-lexref" name="lexref" id="input_lexref"></div>
			</div>
			<div class="form-group row">
				<label for="input_trans_ru" class="col-form-label col-sm-4 col-md-3" style="text-align: right;"><abbr title="Краткий вспомогательный перевод на русский язык: одно или несколько слов.">Перевод:</abbr></label>
				<div class="col-sm-6"><input type="text" class="form-control form-control-trans" name="trans_ru" id="input_trans_ru"></div>
			</div>
			<div class="form-group row">
				<label for="input_pos" class="col-form-label col-sm-4 col-md-3" style="text-align: right;">Часть речи:</label>
				<div class="col-sm-6">
					<select class="form-control" name="pos" id="input_pos">
					{% for pos in languages[lang].pos %}
						<option value="{{ pos.pos }}">{{ pos.name_ru }} ({{ pos.pos }})</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<hr>
			<div class="form-group row">
			<input class="form-check-input" type="checkbox" name="tags_prod_deriv" id="tags_prod_deriv" value="prod_deriv">
			<label for="tags_prod_deriv" class="form-check-label label_small">Содержит продуктивный словообразовательный аффикс</label>
			</div>
			{% for el in languages[lang].tags %}
				<div class="form-group row{% if el.optional %} form-group-optional{% endif %}">
					{% if el.tags %}
					<input class="form-check-input" type="checkbox" name="tags_{{ loop.index }}" id="tags_{{ loop.index }}" value="{{ el.tags }}">
					{% endif %}
					<label for="tags_{{ loop.index }}" class="{% if el.tags %}form-check-label{% else %}col-form-label col-sm-4 col-md-3{% endif %}"{% if el.options %} style="text-align: right;"{% endif %}>
						{% if el.optional %}<abbr title="Заполнить это поле желательно, но не обязательно.">{% endif %}
							{{ el.label_ru }}{% if el.tags %} ({{ el.tags }}){% endif %}
						{% if el.optional %}</abbr>{% endif %}
					</label>
					{% if el.options %}
					<div class="col-sm-6">
						<select class="form-control" name="tags_{{ loop.index }}" id="tags_{{ loop.index }}">
						{% for option in el.options %}
							<option value="{{ option.tags }}">{{ option.name_ru }} ({{ option.tags }})</option>
						{% endfor %}
						</select>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			</form>
		</div>
		<div class="col-sm-3" id="wf_list_div">
			<textarea id="wf_list"></textarea>
		</div>
	</div>
	<button id="add_lemma" type="button" class="btn btn-primary btn-lg">Добавить</button>
	<div class="alert alert-success alert-dismissible fade" role="alert" id="response_message"></div>
{% else %}
	<h2>Пополнение грамматических словарей uniparser-morph</h2>
	<p class="lead">Выберите язык (литературный стандарт):</p>
	<ul>
		<li><a href='/udmurt'>Удмуртский</a></li>
		<li><a href='/komi_zyrian'>Коми-зырянский</a></li>
		<li><a href='/erzya'>Эрзянский</a></li>
		<li><a href='/moksha'>Мокшанский</a></li>
		<li><a href='/meadow_mari'>Луговой марийский</a></li>
	</ul>
{% endif %}
</div>

{% if lang %}
<div class="modal fade" id="lexeme_exists" tabindex="-1" role="dialog" aria-labelledby="lexeme_exists_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="lexeme_exists_header">Такая лексема существует</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="lexeme_exists_body">
				<p>Похожая лексема или лексемы уже есть словаре. Если это та же самая лексема, но какая-то её форма не разбирается, вводить её заново не надо. Вместо этого можно <a href="{{ languages[lang].issues_url }}">написать сообщение об ошибке</a> в репозитории морфологического анализатора. Если это лексема, которую Вы сами недавно внесли, но хотите исправить, нажмите &laquo;Всё равно добавить&raquo;; при обновлении парсера предыдущий вариант будет удалён.</p>
				<p>В словаре найдены следующие записи:</p>
				<pre id="old_lexemes"></pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-success" aria-label="Всё равно добавить" id="lexeme_exists_ok">Всё равно добавить</button>
				<button type="button" class="btn btn-default btn-danger" aria-label="Нет, так быть не должно" id="lexeme_exists_cancel" data-bs-dismiss="modal">Нет, так быть не должно</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="manual" tabindex="-1" role="dialog" aria-labelledby="manual_header" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="manual_header">Краткая инструкция</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="manual_body">
				<h5>Как добавлять лексемы</h5>
				<p>Добавлять в словарь парсера нужно и незаимствованные, и заимствованные лексемы. При этом нужно придерживаться следующих правил:</p>
				<ul>
					<li>Неоднозначные одно- и двухбуквенные сокращения (например, <em>С.</em> в значении &laquo;страница&raquo;) вносить не нужно.</li>
					<li>Если в разбираемом слове содержится опечатка или орфографическая ошибка, внесите его в поле &laquo;Лемма&raquo; как есть, но не забудьте указать стандартную форму в поле &laquo;Стандартная форма&raquo;.</li>
					<li>То же касается диалектных лексем, у которых есть однозначное литературное соответствие, а также особых написаний стандартных лемм (например, <em>Кондра-а-атьич</em>).</li>
					<li>Некоторые продуктивные словообразовательные суффиксы в парсерах включены в грамматику, а не в лексику. Это касается, например, продуктивных глагольных дериваций (пассив, каузатив, итератив, инхоатив) и атрибутивов (<em>-о, -ем, -тэм</em> в удмуртском; <em>-а, -са</em> в коми; <em>-ан, -ле, -се, -дыме</em> в марийском). В словарь необходимо вносить лексемы без этих суффиксов, кроме случаев, когда лексема без суффикса не существует. Однако если сочетание основы и деривационного суффикса / суффиксов обладает существенно некомпозициональным значением (т.е. перевод сочетания невозможно угадать по переводу корня), можно внести это сочетание как отдельную лемму, нажав галочку &laquo;Содержит продуктивный словообразовательный аффикс&raquo;. Укажите при этом лемму без суффиксов в поле &laquo;Стандартная форма&raquo;.</li>
					<li>Лемму имён собственных необходимо начинать с заглавной буквы.</li>
					<li>Необходимо точно отражать все диакритические знаки (включая точки над <em>ё</em> в русских переводах).</li>
				</ul>
				<p>Введённые Вами лексемы будут попадать в словарь не сразу, а после проверки (вероятно, это будет происходить примерно раз в неделю). Если Вы случайно ввели что-то не то, ничего страшного не случится. Если Вы ошиблись в тэгах или переводе, Вы можете просто заново ввести ту же лексему с исправленными данными: при обновлении словаря парсера старый вариант будет удалён. В более сложных случаях напишите об этом Тимофею Архангельскому.</p>
				<h5>Грамматические характеристики</h5>
				<p>Для каждой лексемы нужно выбрать часть речи и грамматические характеристики (лексико-семантические классы, словоизменительный тип и т.п.). Некоторые поля, например, &laquo;Переходность&raquo;, имеют смысл только для определённых частей речи. Если лексема принадлежит к другой части речи, просто не обращайте на них внимания; система приписывает тэги только тем лексемам, у которых они могут иметься.</p>
				<p>Галочку &laquo;Заимствование&raquo; нужно отмечать, если в слове присутствует заимствованный из русского корень, даже если оно содержит при этом другие незаимствованные морфемы. У имён собственных заимствования размечать не нужно.</p>
				<h5>Список словоформ</h5>
				<p>Если у Вас есть список неразобранных словоформ, который нужно обработать (по одной на строку), его можно вставить в текстовое поле справа. Нажмите <strong>стрелку вправо</strong> на клавиатуре, чтобы первое слово из списка было подставлено в поля. При сохранении лексемы автоматически будет подставляться следующее слово из этого списка. Помимо поля &laquo;Лемма&raquo;, слово также подставляется в поле &laquo;Перевод&raquo;, чтобы сократить работу в случае русских заимствований.</p>
				<h5>Горячие клавиши</h5>
				<p><strong>Клавиша Enter</strong> сохраняет лексему, если в поле &laquo;Лемма&raquo; что-то введено. Если список слов заполнен, <strong>клавиша со стрелкой вправо</strong> подставляет в поле &laquo;Лемма&raquo; следующее слово из списка, не сохраняя текущее.</p>
				<h5>Учёт лексем</h5>
				<p>Если Вам для отчёта необходимо вести учёт количества введённых лексем, введите адрес своей электронной почты в поле &laquo;Email разметчика&raquo;. Во время работы будет показано общее число лексем, которое Вы ввели за всё время работы.</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
</body>
</html>
