<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/editor.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  <script type='text/javascript' src='static/js/ajax_queries.js'></script>
{% if lang %}
  <title>Пополнить словарь: {{ languages[lang].name_ru }}</title>
{% else %}
  <title>Выберите язык</title>
{% endif %}
</head>
<body>
<div class="container main">
{% if lang %}
	<h2>Пополнение грамматического словаря ({{ languages[lang].name_ru }})</h2>
	<p class="lead">Заполните поля и нажмите &laquo;Добавить&raquo;.</p>
	<div class="col-lg-8 mx-auto">
		<form id="lex_form">
		<div class="form-group row">
			<label for="input_lemma" class="col-form-label col-sm-2" style="text-align: right;"><abbr title="Начальная форма слова. Для продуктивных глагольных залогов используйте лемму без залоговых суффиксов, если она существует.">Лемма</abbr>:</label>
			<div class="col-sm-5"><input type="text" class="form-control form-control-lemma" name="lemma" id="input_lemma"></div>
		</div>
		<div class="form-group row">
			<label for="input_trans_ru" class="col-form-label col-sm-2" style="text-align: right;"><abbr title="Краткий вспомогательный перевод на русский язык: одно или несколько слов.">Перевод:</abbr></label>
			<div class="col-sm-5"><input type="text" class="form-control form-control-trans" name="trans_ru" id="input_trans_ru"></div>
		</div>
		<div class="form-group row">
			<label for="input_pos" class="col-form-label col-sm-2" style="text-align: right;">Часть речи:</label>
			<div class="col-sm-5">
				<select class="form-control" name="pos" id="input_pos">
				{% for pos in languages[lang].pos %}
					<option value="{{ pos.value }}">{{ pos.name_ru }} ({{ pos.pos }})</option>
				{% endfor %}
				</select>
			</div>
		</div>
		</form>
	</div>
	<div class="col-lg-8 mx-auto" id="tag_buttons">
		<p></p>
	</div>
	<button id="save_dict" type="button" class="btn btn-primary">Добавить</button> 
{% else %}
	<h2>Пополнение грамматических словарей uniparser-morph</h2>
	<p class="lead">Выберите язык (литературный стандарт):</p>
	<ul>
		<li><a href='/udmurt'>Удмуртский</a></li>
		<li><a href='/komi_zyrian'>Коми-зырянский</a></li>
		<li><a href='/erzya'>Эрзянский</a></li>
		<li><a href='/moksha'>Мокшанский</a></li>
		<li><a href='/meadow_mari'>Луговой марийский</a></li>
	</ul>
{% endif %}
</div>
</body>
</html>
